@import "colors";

.date-picker {
  text-align: center;
  font-size: 15px;
}

.bubble-text {
  text-align: left !important;
  padding: 15px;
}

.float-left {
  float: left;
  padding-left: 40px;
  padding-bottom: 10px;
}

.float-right {
  float: right;
  padding-right: 40px;
  padding-bottom: 10px;
}

.separator {
  padding-top: 10px;
  border-bottom: 1px solid #ecf0f1;
}

.container {
  width: inherit;
  height: auto;
  overflow: hidden;
}

.done-text {
  text-align: center !important;
  color: primary(blue);
}
